@tailwind base;
@tailwind components;
@tailwind utilities;

body {
	font-family: Helvetica, Arial, sans-serif;
}

@layer base {
	:root {
		--background: 240 80% 98%;
		--foreground: 243 63% 29%;
		--card: 240 80% 98%;
		--card-foreground: 243 63% 29%;
		--popover: 240 80% 98%;
		--popover-foreground: 243 63% 29%;
		--primary: 245 58% 51%;
		--primary-foreground: 240 80% 98%;
		--secondary: 34 78% 75%;
		--secondary-foreground: 243 63% 29%;
		--muted: 240 80% 20%;
		--muted-foreground: 233 80% 70%;
		--accent: 88 79% 63%;
		--accent-foreground: 243 63% 29%;
		--destructive: 0 85% 60%;
		--destructive-foreground: 243 63% 29%;
		--border: 247 100% 83%;
		--input: 240 80% 20%;
		--ring: 88 79% 40%;
		--radius: 0.5rem;
	}

	.dark {
		--background: 240 80% 2%;
		--foreground: 233 81% 94%;
		--card: 243 63% 29%;
		--card-foreground: 233 81% 94%;
		--popover: 243 63% 29%;
		--popover-foreground: 233 81% 94%;
		--primary: 261 76% 33%;
		--primary-foreground: 233 81% 94%;
		--secondary: 34 78% 25%;
		--secondary-foreground: 233 81% 94%;
		--muted: 240 80% 80%;
		--muted-foreground: 233 81% 94%;
		--accent: 88 79% 37%;
		--accent-foreground: 240 80% 2%;
		--destructive: 0 62% 30%;
		--destructive-foreground: 233 80% 10%;
		--border: 240 80% 50%;
		--input: 240 80% 80%;
		--ring: 88 79% 60%;

		.body-bg {
			background-image: radial-gradient(
					circle at 95% 19%,
					hsla(329, 0%, 99%, 0.05) 0%,
					hsla(329, 0%, 99%, 0.05) 51%,
					transparent 51%,
					transparent 52%,
					transparent 52%,
					transparent 100%
				),
				radial-gradient(
					circle at 6% 90%,
					hsla(329, 0%, 99%, 0.05) 0%,
					hsla(329, 0%, 99%, 0.05) 53%,
					transparent 53%,
					transparent 64%,
					transparent 64%,
					transparent 100%
				),
				linear-gradient(45deg, rgb(83, 91, 235), rgb(76, 11, 174));
		}
	}
}
@layer base {
	* {
		@apply border-border;
	}
	body {
		@apply bg-background text-foreground;
	}
}

.heading-primary {
	@apply text-2xl sm:text-4xl font-bold mb-6;
}

.heading-secondary {
	@apply text-lg sm:text-2xl font-bold mb-6;
}

.body-bg {
	background-image: radial-gradient(
			circle at 95% 19%,
			hsla(0, 0%, 70%, 0.1) 0%,
			hsla(0, 0%, 70%, 0.1) 50%,
			transparent 50%
		),
		radial-gradient(
			circle at 6% 90%,
			hsla(0, 0%, 60%, 0.1) 0%,
			hsla(0, 0%, 60%, 0.1) 50%,
			transparent 50%
		),
		linear-gradient(45deg, rgb(250, 250, 250), rgb(235, 235, 235));
}

@layer base {
	* {
		@apply border-border outline-ring/50;
	}
	body {
		@apply bg-background text-foreground;
	}
}
